<template>
  <div class="bg">
    <div class="glancebox">
        <div class="glance"> <img src ="../assets/glance-logo.png"> </div>
    </div>
    <div class="searchbox">
        <input type="text" class="searchinput" v-model="inputValue">    
        <div class="searchbtn"><img src="../assets/hackathon-koshoteam-02.png"></div>

    </div>

    <ul v-show="isShow">
        <li class="list-group" v-for="(i,index) in stockOutput" @click="mainPage(i.code)">
            {{ i.number }} {{ i.name }} {{ i.market }} <br> <br>
        </li>
    </ul>
                

  </div>
</template>
<script>
export default {
  data () {
    return {
      inputValue: '',
      isShow: false,
      stockList: [
        {
          symbol: 'BAC',
          name: 'Bank of America',
          market: 'NASDAQ',
          code: 243
        },
        {
          symbol: 'WMT',
          name: 'Walmart',
          market: 'NYSE',
          code: 7997
        },
        {
          symbol: 'AAPL',
          name: 'Apple',
          market: 'NASDAQ',
          code: 6408
        },
        {
          symbol: 'AMZN',
          name: 'Amazon',
          market: 'NASDAQ',
          code: 6435
        },
        {
          symbol: 'MSFT',
          name: 'Microsoft',
          market: 'NASDAQ',
          code: 252
        },
        {
          symbol: 'GOOGL',
          name: 'Google',
          market: 'NASDAQ',
          code: 6369
        },
        {
          symbol: 'FB',
          name: 'Facebook',
          market: 'NASDAQ',
          code: 26490
        },
        {
          symbol: 'TSLA',
          name: 'Tesla',
          market: 'NASDAQ',
          code: 13994
        },
        {
          symbol: 'NFLX',
          name: 'Netflix',
          market: 'NASDAQ',
          code: 13063
        },
        {
          symbol: 'JNJ',
          name: 'Johnson and Johnson',
          market: 'NYSE',
          code: 8177
        }
      ],
      stockOutput: []
    };
  },
  methods: {
    mainPage (code) {
      window.location.href = `./#/main?code=${code}`;
    }
  },
  watch: {
    inputValue () {
      this.stockOutput = [];
      if (this.inputValue === '') {
        this.isShow = false;
        return;
      }
      this.isShow = true;
      this.stockList.forEach((x) => {
        if (x.name.toLowerCase().indexOf(this.inputValue.toLowerCase()) > -1) {
          this.stockOutput.push(x);
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
.bg{  
  font-family:'Jeju Gothic', serif;
  color:white;
  width:100%;
  height:100vh;
  background: url("../assets/hackathon-koshoteam-02-copy-2.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.glance{
    padding-bottom:79px;
}
.glancebox{
    width:100%; 
    padding-top:169px;
    text-align:center;
}
.searchbox{
    width:100%;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
.searchinput{
    width: 566px;
    height: 53px;
    text-align: center;    
    border: solid 2px #ff7d3a;
    border-top-left-radius: 26.5px;
    border-bottom-left-radius: 26.5px;
    outline: none;
    float: left;
}
.searchbtn{
    width:67px;
    height:53px;
    float:left;
    background-color:#ff7d3a;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-top-right-radius: 26.5px;
    border-bottom-right-radius: 26.5px;
}
.list-group{
    display: flex;
    justify-content: center; 
    align-items: center;    
}
</style>
