<template>
<div class="bg">
   <!-- 상단 -->
    <div class="header">
      <img class="glance-logo"
          src="static/image/glance-logo.png"
          srcset="static/image/glance-logo@2x.png 2x,
                  static/image/glance-logo@3x.png 3x"/>
      <div class="keyword-input-container">
        <div class="keyword-input">
          <input id="tickerNameInput"
              type="text"
              @keyup.enter = "submit" v-model="stock" />
          <div id="tickerSearchWrapper" @click="getSearch()">
            <img src="static/image/hackathon-koshoteam-02.svg"/>
          </div>
        </div>
        <div id="searchResultContainer" v-show="isShow">
          <ul class="search-list-group" >
            <li v-for="(i, key) in stockOutput"
                :key="key"
                class="search-list-group-item"
                @click="getTickerInfo(i)">
                <br>
                {{ i.number }} {{ i.name }} {{ i.market }} {{ i.symbol }}
                <br>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="keywordside">
        <div class="keyword-search-bar">
            {{ searchedStock }}
            <div id="barDivider"></div>
            <input type="text"
                  class="keywordinput"
                  placeholder="keyword"
                  v-model="keyword" @keyup.enter="insertKeyword()">
            <div v-for="(i, key) in keywordList"
                :key="key"
                class="addkeyword">
                {{ i }}
                <img class="close-button"
                    src="../assets/x.png"
                    style=""
                    @click="delKeyword(index)">
            </div>

        </div>
    </div>
    <div class="keywordbottomleft">
        <span style="font-size:20px; padding-left: 40px;">Stock Info and Prediction</span>
        <span style="font-size:14px; padding-left: 5px;">based on marketdreamer</span>
    </div>
    <div class="keywordbottomright">
        <span style="font-size:20px; padding-left: 40px;">News</span>
    </div>
    <div class="leftside">
      <div id="dailyTickerChartRow" class="plr20">
        <div id="dailyTickerChartContainer" class="w-100p mt20 relative">
          <div id="dailyChart">
          </div>
          <div v-if="chartLoading"
            id="chartSpinner"
            class="w-100p h-100p center"
            style="position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;line-height:220px;background-color:rgba(255,255,255,0.7)">
            <v-ons-icon icon="fa-spinner" size="30px" spin></v-ons-icon>
          </div>
        </div>
        <div class="center">
          <ul id="chartRange" class="chart-range btn-group-exclusive flow group-border-rounded inblock">
            <li><a href="javascript:;" data-days="1" data-freq="5">1D</a></li>
            <li><a href="javascript:;" data-days="7" data-freq="60">1W</a></li>
            <li><a href="javascript:;" data-days="31" data-freq="D">1M</a></li>
            <li class="active"><a href="javascript:;" data-days="92" data-freq="D">3M</a></li>
            <li><a href="javascript:;" data-days="365" data-freq="D">1Y</a></li>
            <li><a href="javascript:;" data-days="1080" data-freq="D">Max</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="article">
        <div class="article-list">
            <div v-for="(i,index) in news">
                <div class="popup" @click.left="myFunction(index)">
                    <div class="article-headline"> {{ i.title }} </div>
                    <div class="article-date">{{ i.src }} | {{ i.date }}</div>
                    <div class="rectangle"></div>
                    <div class="popuptext" :id="index">
                        <div style="margin-bottom:12px;">Summary</div>
                        <div v-for="(j,idx) in i.summarize" v-if="idx * 3 < i.summarize.length">
                            {{ j }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomtitle">
        <span style="font-size:20px; padding-left: 40px;">Potential Stock Value</span>
        <span style="font-size:14px; padding-left: 20px;">based on related keywords</span>
    </div>
    <div class="bottomcontext" v-if="isWeek">
        <div class="bottomcontextleft"
            style="background-color:#FF7D3A"
            @click.left="toggleWeek(1)">In a week</div>
        <div class="bottomcontextright"
            style="background-color:#515151"
            @click.left="toggleWeek(2)">In a month</div>
        <div class="btmimg">
            <img src="../assets/bullish.png" v-if="deepRet >= 0.5">
            <img src="../assets/bearish.png" v-if="deepRet < 0.5">
        </div>
    </div>
    <div class="bottomcontext" v-if="!isWeek">
        <div class="bottomcontextleft"
            style="background-color:#515151"
            @click.left="toggleWeek(1)">In a week</div>
        <div class="bottomcontextright"
            style="background-color:#FF7D3A"
            @click.left="toggleWeek(2)">In a month</div>
        <div class="btmimg">
            <img src="../assets/bullish.png" v-if="deepRet >= 0.5">
            <img src="../assets/bearish.png" v-if="deepRet < 0.5">
        </div>

    </div>

</div>
</template>

<script>
export default {
  props: ['code'],
  created(){
    API.getFinLast('investing:'+this.code).then(e=>{
      if (e.row.data) {
        var p = this.lastPrice = e.row.data;
        if (p.ts) {
          if (p.time.length == 5) { // DD/MM 형식
            p.tstr = moment(p.ts).format('MM-DD');
          } else if (p.time.length == 8) { // HH:mm:ss (utc-4) 형식
            p.tstr = moment(p.ts).format('MM-DD HH:mm');
          } else {
            p.tstr = moment(p.ts).format('MM-DD');
          }
        } else if (p.d) {
          p.tstr = moment(p.d, 'YYYYMMDD').format('MM-DD');
        } else {
          p.tstr = moment().format('MM-DD');
        }
      }
    });
    if (this.ticker.category_id == 'crypto') {
      this.tickerCurrency = 'USD';
    } else if (this.ticker.category_id == 'stock') {
      this.tickerCurrency = {
        '0':'', // 전체
        '1':'USD', // 뉴욕
        '2':'USD', // 나스닥
        '60':'KRW', // KOSPI
        '110':'KRW', // KOSDAQ
        '130':'KRW', // KONEX
        '19':'SGD', // 싱가폴 SGX
        '54':'CNY', // 중국 shanghai
        '103':'CNY', // 중국 shenzhen
        '21':'HKD', // 홍콩 hongkong
      }[this.ticker.exchange_ID];
    }
  },
  mounted () {
    this.ticker = this.stockList.find(x => x.code === Number(this.code));
    this.stock = this.ticker.name;
    this.searchedStock = this.ticker.name
    this.keywordList.push(this.searchedStock);
    window.API.getNewsSearch(this.keywordList.join(',')).then((res)=>{
      this.news = res.news;
    });
  },
  data () {
    return {
        ticker: '',
        stock: '',
        searchedStock: '',
        keyword: '',
        isShow: false,
        stockOutput: [],
        isWeek:true,
        chartLoading: false,
        articles:[],
        isPopup:false,
        news:[],
        stockList: [
            {
                symbol: 'BAC',
                name: 'Bank of America',
                market: 'NASDAQ',
                code: 243
            },
            {
                symbol: 'WMT',
                name: 'Walmart',
                market: 'NYSE',
                code: 7997
            },
            {
                symbol: 'AAPL',
                name: 'Apple',
                market: 'NASDAQ',
                code: 6408
            },
            {
                symbol: 'AMZN',
                name: 'Amazon',
                market: 'NASDAQ',
                code: 6435
            },
            {
                symbol: 'MSFT',
                name: 'Microsoft',
                market: 'NASDAQ',
                code: 252
            },
            {
                symbol: 'GOOGL',
                name: 'Google',
                market: 'NASDAQ',
                code: 6369
            },
            {
                symbol: 'FB',
                name: 'Facebook',
                market: 'NASDAQ',
                code: 26490
            },
            {
                symbol: 'TSLA',
                name: 'Tesla',
                market: 'NASDAQ',
                code: 13994
            },
            {
                symbol: 'NFLX',
                name: 'Netflix',
                market: 'NASDAQ',
                code: 13063
            },
            {
                symbol: 'JNJ',
                name: 'Johnson and Johnson',
                market: 'NYSE',
                code: 8177
            }
        ],

        keywordList: [],
        deepList:{
            "stock_news":
            [
                {
                    "date": "2018-07-13T01:51:00Z",
                    "src": "Reuters",
                    "summarize": [
                        "JAKARTA, July 13 (Reuters) - Social media giant Facebook  has assured the Indonesian government that personal data of about one million of its citizens had not been improperly accessed by political consultancy Cambridge Analytica.",
                        "Facebook has faced intense scrutiny, including multiple official investigations in the United States, Europe and Australia, over allegations of improper use of data for 87 million Facebook users by Cambridge Analytica.",
                        "Indonesia, where more than 115 million people use Facebook, has also been pressing the firm to explain how its citizens' personal data was harvested by Cambridge Analytica via a personality quiz.",
                        "Facebook says Kogan harvested data by creating an app on the platform that was downloaded by 270,000 people, providing access not only to their own but also their friends' personal data.",
                        "The Indonesian communications ministry had sent a letter to the company in April seeking confirmation on technical measures to limit access to data in Facebook and more information on an audit the social media company was doing."
                    ],
                    "title": "Facebook says Indonesian user data not misused"
                },
                {
                    "date": "2018-07-12T23:05:00Z",
                    "src": "RTT News",
                    "summarize": [
                        "com) - The Securities regulators are investigating whether Facebook Inc.",
                        "( FB ) adequately warned investors that developers and other third parties may have obtained users' data without their permission or in violation of Facebook's policies, the Wall Street Journal reported citing people familiar with the matter.",
                        "The Securities and Exchange Commission's probe of the social-media company, first reported in early July, follows revelations that Cambridge Analytica, a data-analytics firm that had ties to President Donald Trump's 2016 campaign, got access to information on millions of Facebook users.",
                        "The SEC has requested information from Facebook  seeking to understand how much the company knew about Cambridge Analytica's use of the data,.",
                        "The agency also wants to know how the company analyzed the risk it faced from developers sharing data with others in violation of Facebook's policies, the report said."
                    ],
                    "title": "SEC Investigates Whether Facebook Warned Investors Of Improper Data-sharing"
                },
                {
                    "date": "2018-07-12T00:50:00Z",
                    "src": "Zacks.com",
                    "summarize": [
                        "In fact, Asia also witnessed its sixth straight quarter of operating margin growth.",
                        "Thanks to these factors, the company expects sales in Europe and Asia to continue rising in double-digits in the second quarter.",
                        "In first-quarter fiscal 2019, Guess?",
                        "While earnings were backed by solid sales and enhanced gross margin, sales were fueled by continued strength in Europe and Asia.",
                        "These factors along with a favorable view for the second quarter have boosted the Zacks Consensus Estimate for the second quarter and fiscal 2019."
                    ],
                    "title": "4 Reasons Why You Should Add Guess? Stock to Your Portfolio"
                }

            ],
        },
        deepRet:0,
    };
  },
  methods: {
    getTickerInfo (ticker) {
      window.API.getTickerPrediction(
        'kosho_stock',
        `investing:${ticker.code}`
      ).then(
        (res, statusCode, xhr) => {
          console.log(res);
        },
        err => {
          console.log(err);
        }
      );
    },
    getSearch(){
        window.API.getNewsSearch(this.keywordList)
            .then((res, statusCode, xhr) =>{
                console.log("suc", res);
            },
            (err) => {
                console.log("err", err);
            });
    },
    submit () {
      if (this.stock === '') {
        this.inputNum = 0;
      }
    },
    insertKeyword () {
      if (this.keyword === '')
        return;
      this.keywordList.push(this.keyword);
      this.getSearch();
      this.keyword = '';
    },
    delKeyword (idx) {
      this.keywordList.splice(idx, 1);
    },
    toggleWeek (val) {
      val === 1 ? this.isWeek = true : this.isWeek = false;
    },
    myFunction:function(i) {
        var popup = document.getElementById(i);
        popup.classList.toggle("show");
    },
    loadHighchartJs (src) {
      return new Promise((resolve, reject) => {
        const script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = src;
        script.onload = function() {
          resolve();
        };
        document.body.appendChild(script);
      });
    },
    dailyChart () {
      let $this = $('.chart-range li.active a'),
        days = $this.data('days'),
        freq = $this.data('freq');

      let name_en = 'error_ticker_name';
      try {
        name_en = this.ticker.name.replace(/ /g, '_');
      } catch (e) {
        try {
          name_en = this.ticker.name.replace(/ /g, '_');
        } catch (e) {

        } // TODO Add sentry logger
      }
      this.chartLoading = true;
      window.API.getChartSeries('investing:'+this.ticker.code, days, freq).then(
        (res) => {
          if (res.code === 20000 && res.row.success) {
            let data = res.row.data,
              info = res.row.info;
            this.drawChart(res.row.data, freq, res.row.chart, res.row.fin_type);
          } else {
            alert((res.row && res.row.message) || 'chart loading failed');
          }
          this.chartLoading = false;
        },
        () => {
          alert('chart loading failed');
        }
      );
    },
    drawChart(series, freq, chart_type, fin_type) {
      const dataGrouping = {
        5: [['minute', [5, 10]]],
        60: [['minute', [60, 120]]],
        D: [['day', [1]], ['week', [1]], ['month', [1]]]
      }[freq];
      if (
        chart_type === 'candle' &&
        series.filter(
          e => e.close !== e.open || e.close !== e.high || e.close !== e.low
        ).length === 0
      ) {
        chart_type = 'area';
      }
      if (chart_type === 'candle') {
        const data = series.map(e => [
          fin_type === 'detail' ? e.time * 1000 : moment(e.d).unix() * 1000,
          e.open,
          e.high,
          e.low,
          e.close
        ]);
        this.chart = this.doneHighcharts((e) => {
          Highcharts.stockChart('dailyChart', {
            title: { text: null },
            credits: { enabled: false },
            legend: { enabled: false },
            navigator: { enabled: false },
            scrollbar: { enabled: false },
            rangeSelector: { enabled: false },
            noData: {
              style: { fontWeight: 'bold', fontSize: '15px', color: '#303030' }
            },
            chart: {
              spacing: [10, 10, 10, 10],
              height: 220,
              panning: false,
              pinchType: false
            },
            xAxis: {
              type: 'datetime',
              tickmarkPlacement: 'on',
              dateTimeLabelFormats: {
                month: '`%y.%m',
                week: '%m.%d',
                day: '%m.%d'
              }
            },
            plotOptions: {
              candlestick: {
                color: this.metaColors.colorDown,
                upColor: this.metaColors.colorUp,
                lineColor: (window.Highcharts || this.getHighChart())
                  .Color(this.metaColors.colorDown)
                  .setOpacity(0.5)
                  .get('rgba'),
                upLineColor: (window.Highcharts || this.getHighChart())
                  .Color(this.metaColors.colorUp)
                  .setOpacity(0.5)
                  .get('rgba')
              }
            },
            series: [
              {
                type: 'candlestick',
                name: this.ticker.name_loc,
                data,
                dataGrouping: {
                  units: dataGrouping
                }
              }
            ]
          });
        });
      } else if (chart_type === 'area') {
        const colorBull = this.metaColors.colorUp;
        const colorBear = this.metaColors.colorDown;
        const color =
          series.length && series[0].close <= series[series.length - 1].close
            ? colorBull
            : colorBear;
        const data = series.map(e => [
          fin_type === 'detail' ? e.time * 1000 : moment(e.d).unix() * 1000,
          e.close
        ]);
        this.doneHighcharts((e) => {
          this.chart = Highcharts.chart('dailyChart', {
            title: { text: null },
            credits: { enabled: false },
            legend: { enabled: false },
            noData: {
              style: { fontWeight: 'bold', fontSize: '15px', color: '#303030' }
            },
            chart: {
              spacing: [10, 10, 10, 10],
              height: 220,
              panning: false,
              pinchType: false
            },
            xAxis: {
              type: 'datetime',
              ordinal: false,
              tickmarkPlacement: 'on',
              dateTimeLabelFormats: {
                month: '`%y.%m',
                week: '%m.%d',
                day: '%m.%d'
              }
            },
            yAxis: {
              title: { text: '' },
              opposite: true
            },
            tooltip: {
              shared: true,
              headerFormat:
                '<b>{point.x:%Y}.{point.x:%m}.{point.x:%d}</b><br>'
            },
            plotOptions: {
              area: {
                fillColor: {
                  linearGradient: {
                    x1: 0, y1: 0, x2: 0, y2: 1
                  },
                  stops: [
                    [
                      0,
                      (window.Highcharts || this.getHighChart())
                        .Color(color)
                        .setOpacity(0.5)
                        .get('rgba')
                    ],
                    [
                      1,
                      (window.Highcharts || this.getHighChart())
                        .Color(color)
                        .setOpacity(0)
                        .get('rgba')
                    ]
                  ]
                },
                marker: { radius: 0 },
                lineWidth: 1,
                states: {
                  hover: {
                    lineWidth: 1
                  }
                },
                threshold: null
              },
              series: {
                animation: false
              }
            },
            series: [
              {
                type: 'area',
                color,
                name: this.ticker.name_loc,
                data
              }
            ]
          });
          if (data.length === 0) {
            this.chart.showNoData && this.chart.showNoData('No Data');
          }
        });
      }
    }
  },
  watch: {
    stock () {
      this.stockOutput = [];
      if (this.stock === this.searchedStock || this.stock === '') {
        this.isShow = false;
        return;
      }
      this.isShow = true;
      this.stockList.forEach((x) => {
        if (x.name.toLowerCase().indexOf(this.stock.toLowerCase()) > -1) {
          this.stockOutput.push(x);
        }
      });
    }
  }
};
</script>
<style scoped>
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
ul {
  list-style-type: none;
  padding: 0;
}
.bg {
  font-family: "Jeju Gothic", serif;
  color: white;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  display: flex;
  flex-direction: row;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 22px;
  padding-bottom: 21px;
  background-color: #ff7d3a;
}
.header .glance-logo {
  width: 254px;
  height: 52px;
}
.header .keyword-input {
  display: flex;
  flex-direction: row;
  margin-left: 65px;
  width: 566px;
  height: 53px;
  border-radius: 26.5px;
  background-color: #ffffff;
}
#barDivider {
  width: 4px;
  height: 67px;
  border-radius: 2px;
  margin-left: 28px;
  background-color: #ff7d3a;
}
#tickerNameInput {
  width: 100%;
  background: white;
  border-radius: 30px;
  padding-left: 26px;
  color: black;
  border: 0;
  outline: none;
}
#tickerSearchWrapper {
  display: flex;
  justify-content: center;
  width: 67px;
  height: 53px;
  border-bottom-right-radius: 26.5px;
  border-top-right-radius: 26.5px;
  background-color: #ffd7c2;
}
.newslist {
  width: 70%;
  float: right;
}
.keywordinput {
  width: 200px;
  height: 40px;
  border-radius: 26.5px;
  background-color: #ffffff;
  border: solid 1px #979797;
  text-align: center;
  font-size: 20px;
  margin-left: 30px;
  outline: none;
}
.keyword-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  height: 94px;
  font-size: 36px;
  color: white;
  position: relative;
  background-color: #515151;
}
#searchResultContainer {
  position: absolute;
  width: 488px;
  margin-left: 83px;
  margin-top: -17px;
  padding-left: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(81, 81, 81);
  z-index: 2;
}

.addkeyword {
  font-size: 18px;
  border-radius: 26.5px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 12px;
  margin-left: 20px;
  height: 35px;
  text-align: center;
  line-height: 2em;
  background: #ff7d3a;
}
.keywordbottomleft {
  background-color: #7c7c7c;
  width: 60%;
  height: 45px;
  float: left;
  border-right: solid 1.5px #515151;
  line-height: 46px;
}
.keywordbottomright {
  background-color: #7c7c7c;
  width: 40%;
  height: 45px;
  float: right;
  line-height: 46px;
}
.leftside {
  color: black;
  width: 50%;
  float: left;
}
.rightside {
  color: black;
  width: 50%;
  float: right;
}
.close-button {
  cursor: pointer;
  display: inline-flex;
  float: right;
  position: sticky;
  padding-top: 7px;
  margin-left: inherit;
}

.leftside {
  color: black;
  width: 60%;
  height: 379px;
  background-color: #515151;
  float: left;
}
.bottomtitle {
  background-color: #7c7c7c;
  width: 60%;
  height: 45px;
  float: left;
  border-right: solid 1.5px #515151;
  line-height: 46px;
}
.bottomcontext{
    color:black;
    width:60%;
    height:200px;
    background-color:#515151;
    float:left;
}
.article-list{
    color:white;
    width:40%;
    height:624px;
    border-top: solid 1.5px #515151;
    overflow-y: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#515151+0,7c7c7c+25 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#515151+0,7c7c7c+6 */
    background: #515151; /* Old browsers */
    background: -moz-linear-gradient(top, #515151 0%, #7c7c7c 3%); /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #515151 0%,#7c7c7c 3%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom, #515151 0%,#7c7c7c 3%);
    float:right;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.article-headline{
    color:white;
    float:left;
    width:100%;
    font-size:14px;
    margin-top:20px;
}
.article-date{
    color:white;
    float:left;
    width:100%;
    margin-top: 10px;
    font-size:14px;
}
.bottomcontextleft{
    margin-top:20px;
    width:140px;
    height:30px;
    font-size:18px;
    border: solid 1px #FF7D3A;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float:left;
    margin-left:35%;
    text-align:center;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.bottomcontextright{
    margin-top:20px;
    width:140px;
    height:30px;
    font-size:18px;
    border: solid 1px #FF7D3A;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float:left;
    text-align:center;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.btmimg{
    width:100%;
    padding-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle{
    height: 1px;
    width: 100%;
    margin-top:20px;
    background-color: #515151;
    display: block;
    float: left;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -220px
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    padding-left: 20px;
    padding-right: 20px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
</style>
