<template>
  <ons-row class="mb20">
    <div class="w-90p ms22 mt15 mb10">
      <div v-if="ticker.show !== false" style="position: absolute;margin-bottom:20px;display:inline-block;right:16px;">
        <ul v-if="sortedPredicts.length > 0">
          <li class="reg-11 dtrow white-space-normal" v-for='(predict, index) in sortedPredicts'
              :class="'c-'+predict.trend+'-'+metaColors['word'+getUpDown(predict.trend)]"
              :style="report.next_group == predict.group ? 'font-weight:700;font-size:13px;': ''">•
            <span v-if='predict.percent<=5' class="white-space-normal">{{ tmpl(gettext(`with_a_probability_of_less_than_5%_$_{trendtolanguage_[predict.trend]}`), {"${trendToLanguage[predict.trend]}": trendToLanguage[predict.trend]}) }}</span>
            <span v-else class="white-space-normal">{{ tmpl(gettext(`chance_of_$_{predict.percent}%_$_{trendtolanguage_[predict.trend]}`), {"${predict.percent}": predict.percent, "${trendToLanguage[predict.trend]}": trendToLanguage[predict.trend]}) }}</span>
          </li>
        </ul>
      </div>
      <div id="analysisChart">
        <div class="row grid">
          <div class="col-xs-1"></div>
          <div class="col-xs-4 current-chart">
            <svg style="width: 100%;"></svg>
            <div class="bull-bear-result-box" style="left:-20px;">
              <div class="dtrow reg-12">{{ gettext('current_trends') }}</div>
              <div class="dtrow med-17 white-space-normal" v-bind:style="{color:currentColor}">
                {{ trendToLanguage[currentGroup] }}
              </div>
              <div class="dtrow">
                <img class="bull-bear-icon" :src="'https://d6sgh7eusknu.cloudfront.net/assets-server/image/quiz/'+currentGroup+'-'+this.currentColorWord+'.png'"/>
              </div>
            </div>
          </div>
          <div class="col-xs-6 predict-chart">
            <svg style="width: 100%;"></svg>
            <div class="bull-bear-result-box" style="right:-20px;text-align:right;">
              <div class="reg-12">{{ gettext('predict_trends') }}</div>
              <div class="med-17 white-space-normal" v-bind:style="{color:predictColor}">
                {{ trendToLanguage[predictGroup] }}
              </div>
              <div class="">
                <img class="bull-bear-icon"
                     :src="'https://d6sgh7eusknu.cloudfront.net/assets-server/image/quiz/'+predictGroup+'-'+predictColorWord+'.png'"/>
              </div>
            </div>
            <div class="ticker-icon-box">
              <div id="chart-center-circle"></div>
            </div>
          </div>
        </div>
        <div class="xaxis">
          <div class="col-xs-2 center" style="padding-left:0;padding-right:0;">
            <div class="xaxis-tick" style="margin:auto;"></div>
            <div class="reg-14">{{ gettext('past') }}</div>
            <div v-if="flag!==30" class="reg-9">{{ gettext('a_week_ago') }}</div>
            <div v-else class="reg-9">{{ gettext('a_month_ago') }}</div>
          </div>

          <div class="col-xs-8 center" style="padding-left:0;padding-right:0;">
            <div class="xaxis-tick" style="margin-left:calc(37% + -1px);"></div>
            <div class="reg-14" style="margin-left:-46px;">{{ gettext('now') }}</div>
            <div class="reg-9" style="margin-left:-46px;" v-if="report !== undefined">
              {{  date_formatted.replace(/-/g, '.') }}
            </div>
          </div>
          <div class="col-xs-2 center" style="padding-left:0;padding-right:0;">
            <div class="xaxis-tick" style="margin:auto;"></div>
            <div class="reg-14">{{ gettext('future') }}</div>
            <div v-if="flag!==30" class="reg-9">{{ gettext('a_week_later') }}</div>
            <div v-else class="reg-9">{{ gettext('a_month_later') }}</div>
          </div>
        </div>
      </div>
    </div>
  </ons-row>
</template>

<script>
import * as d3 from "d3";

export default {
  props: ["ticker", "report", "flag"],
  watch: {
    $props: {
      handler: function(val, oldVal) {
        this.drawAnalysisChart();
        this.date_formatted = this.report.report_date_str;
      },
      deep: true
    }
  },
  data() {
    return {
      date_formatted: "2018-01-01",
      analysisChartCurrent: null,
      analysisChartPredict: null,
      metaColors: $store.state.meta.color[this.getGLocale()], // {colorDown,colorDownMild,colorUp,colorUpMild,wordDown,wordUp}
      metaColorGroup: {
        0: "colorDown",
        1: "colorDownMild",
        2: "colorUpMild",
        3: "colorUp"
      },
      sortedPredicts: [],
      currentGroup: "bearish", // bearish, ..
      currentColor: "red", // #ff0000, ..
      currentColorWord: "red", // red, blue, ..
      predictGroup: "bearish",
      predictColor: "red",
      predictColorWord: "red",
      colors: {
        "bearish-blue": "#4655d0",
        "m-bearish-blue": "#9ea9fe",
        "m-bullish-blue": "#9ea9fe",
        "bullish-blue": "#4655d0",
        "bearish-green": "#97d947",
        "m-bearish-green": "#c6f391",
        "m-bullish-green": "#c6f391",
        "bullish-green": "#97d947",
        "bearish-red": "#e22a40",
        "m-bearish-red": "#ff8d9b",
        "m-bullish-red": "#ff8d9b",
        "bullish-red": "#e22a40"
      },
      groups: ["bearish", "m-bearish", "m-bullish", "bullish"],
      trendToLanguage: {
        bullish: this.gettext("bullish"),
        "m-bullish": this.gettext("hybridization_bullish"),
        "m-bearish": this.gettext("hybridization_bearish"),
        bearish: this.gettext("bearish")
      }
    };
  },
  methods: {
    drawAnalysisChart() {
      /*
        this.report = {
          "md_id": "kosho_index",
          "next_group": 2,
          "cur_group": 1,
          "save_timestamp": 1524734511,
          "cur_yield": -0.0124661166,
          "base_timestamp": 1524495600,
          "pre_mean": 0.0113673317,
          "term_vol": 0.0217129778,
          "pred_std": 0.0042793843,
          "trans_group_2": 0.98,
          "trans_group_3": 0.01,
          "trans_group_0": 0,
          "trans_group_1": 0.01,
          "ticker": "GOLD",
          "report_date_str": "2018-04-24",
          "pred_freq": "7D"
        }
      */
      // 이전 형식과의 호환성
      if (this.report.report_table) {
        var colName =
          this.ticker["src"] + ":" + this.ticker["code"] + this.ticker["extra"];
        if (this.flag == "30") {
          colName = this.ticker["map_id"];
        }
        this.report.cur_group = this.report["group_" + colName];
        [0, 1, 2, 3].forEach(i => {
          this.report["trans_group_" + i] = this.report[
            "trans_group_" + colName + "_" + i
          ];
        });
        var ratios = [0, 1, 2, 3].map(i => [
          i,
          this.report["trans_group_" + i]
        ]);
        ratios.sort((a, b) => {
          return b[1] - a[1];
        });
        this.report.next_group = ratios[0][0];
      }

      this.currentGroup = this.groups[this.report.cur_group];
      this.currentColor = this.metaColors[
        this.metaColorGroup[this.report.cur_group]
      ];
      this.currentColorWord = this.metaColors[
        "word" + this.getUpDown(this.currentGroup)
      ];
      this.predictGroup = this.groups[this.report.next_group];
      this.predictColor = this.metaColors[
        this.metaColorGroup[this.report.next_group]
      ];
      this.predictColorWord = this.metaColors[
        "word" + this.getUpDown(this.predictGroup)
      ];

      this.analysisChartPredict = d3
        .select("#analysisChart .predict-chart")
        .attr("height", 256)
        .select("svg");
      this.analysisChartCurrent = d3
        .select("#analysisChart .current-chart")
        .attr("height", 256)
        .select("svg");
      this.analysisChartPredict = this.analysisChartPredict.attr("height", 256);
      this.analysisChartCurrent = this.analysisChartCurrent.attr("height", 256);

      // Marker Definitions
      var defs = this.analysisChartPredict.append("defs");
      for (var item in this.colors) {
        defs
          .append("marker")
          .attr("id", "marker-end-triangle" + "-" + item)
          .attr("viewBox", "0 0 20 20")
          .attr("refX", "0")
          .attr("refY", "10")
          .attr("markerUnits", "strokeWidth")
          .attr("markerWidth", "8")
          .attr("markerHeight", "6")
          .attr("orient", "auto")
          .style("fill", this.colors[item])
          .append("path")
          .attr("d", "M 0 0 L 20 10 L 0 20 z");
      }

      // Add Current line
      this.drawCurrentLine();

      // Update Predict lines
      var predicts = [0, 1, 2, 3].map(i => ({
        group: i,
        trend: this.groups[i],
        percent: round(this.report["trans_group_" + i] * 90 + 2.5, 2)
      }));
      var fixedPredicts = predicts.map(e => e.percent + 15);
      this.drawPredictLines(fixedPredicts);

      //predicts.sort((a,b)=>b.percent-a.percent);
      predicts.sort((a, b) => b.group - a.group); // 예측 화살표 순
      this.sortedPredicts = predicts;
      //this.predictGroup = this.sortedPredicts[0]['trend'];
      this.predictGroup = this.groups[this.report.next_group];

      // Update Most Predict
      this.analysisChartPredict
        .append("line")
        .classed("predict-line", true)
        .classed("most-predict", true)
        .attr("x1", "0%")
        .attr("y1", "50%")
        .attr("stroke-width", "3");
      this.updateMostPredict(this.predictGroup);
      this.selectTickerDialogVisible = false;
    },
    drawCurrentLine() {
      const CURRENT_SVG_WINDOW_WIDTH = $("#analysisChart .current-chart")
        .select("svg")
        .width();
      const l = 128;
      const rad = Math.PI / 5;
      const startY = {
        bullish: l + 80 / Math.tan(rad),
        "m-bullish": l + 80 / Math.tan(2 * rad),
        "m-bearish": l - 80 / Math.tan(2 * rad),
        bearish: l - 80 / Math.tan(rad)
      };
      d3
        .select("#analysisChart .current-chart")
        .select("svg")
        .selectAll("line.current-line")
        .remove();
      this.analysisChartCurrent
        .append("line")
        .classed("current-line", true)
        .attr("stroke", "black")
        .attr("stroke-width", "5")
        .attr("x1", CURRENT_SVG_WINDOW_WIDTH - 80)
        .attr("y1", startY[this.currentGroup])
        .attr("x2", "100%")
        .attr("y2", "50%")
        .style("stroke", this.currentColor);
    },
    drawPredictLines(fixedPredicts) {
      const l = 128;
      const rad = Math.PI / 5;
      const lsin1 = Math.sin(rad) * l;
      const lcos1 = Math.cos(rad) * l;
      const lsin2 = Math.sin(rad * 2) * l;
      const lcos2 = Math.cos(rad * 2) * l;
      d3
        .select("#analysisChart .predict-chart")
        .select("svg")
        .selectAll("line.predict-line")
        .remove();
      this.analysisChartPredict
        .append("line")
        .classed("predict-line", true)
        .classed("bearish", true)
        .attr(
          "marker-end",
          "url(#marker-end-triangle-bearish-" + this.metaColors.wordDown + ")"
        )
        .attr("stroke", this.metaColors.colorDown)
        .attr("stroke-width", this.report.next_group == 0 ? "3" : "2")
        .attr("stroke-dasharray", "5,5")
        .attr("x1", "0%")
        .attr("y1", "50%")
        .attr("x2", (lsin1 * fixedPredicts[0] / 100).toString())
        .attr("y2", (l + lcos1 * fixedPredicts[0] / 100).toString());
      this.analysisChartPredict
        .append("line")
        .classed("predict-line", true)
        .classed("m-bearish", true)
        .attr(
          "marker-end",
          "url(#marker-end-triangle-m-bearish-" + this.metaColors.wordDown + ")"
        )
        .attr("stroke", this.metaColors.colorDownMild)
        .attr("stroke-width", this.report.next_group == 1 ? "3" : "2")
        .attr("stroke-dasharray", "5,5")
        .attr("x1", "0%")
        .attr("y1", "50%")
        .attr("x2", (lsin2 * fixedPredicts[1] / 100).toString())
        .attr("y2", (l + lcos2 * fixedPredicts[1] / 100).toString());
      this.analysisChartPredict
        .append("line")
        .classed("predict-line", true)
        .classed("m-bullish", true)
        .attr(
          "marker-end",
          "url(#marker-end-triangle-m-bullish-" + this.metaColors.wordUp + ")"
        )
        .attr("stroke", this.metaColors.colorUpMild)
        .attr("stroke-width", this.report.next_group == 2 ? "3" : "2")
        .attr("stroke-dasharray", "5,5")
        .attr("x1", "0%")
        .attr("y1", "50%")
        .attr("x2", (lsin2 * fixedPredicts[2] / 100).toString())
        .attr("y2", (l - lcos2 * fixedPredicts[2] / 100).toString());
      this.analysisChartPredict
        .append("line")
        .classed("predict-line", true)
        .classed("bullish", true)
        .attr(
          "marker-end",
          "url(#marker-end-triangle-bullish-" + this.metaColors.wordUp + ")"
        )
        .attr("stroke", this.metaColors.colorUp)
        .attr("stroke-width", this.report.next_group == 3 ? "3" : "2")
        .attr("stroke-dasharray", "5,5")
        .attr("x1", "0%")
        .attr("y1", "50%")
        .attr("x2", (lsin1 * fixedPredicts[3] / 100).toString())
        .attr("y2", (l - lcos1 * fixedPredicts[3] / 100).toString());
    },
    updateMostPredict() {
      this.analysisChartPredict = $("#analysisChart .predict-chart");
      this.predictLine = $(
        "#analysisChart .predict-chart" + " ." + this.predictGroup
      );
      $("#analysisChart .predict-chart .most-predict")
        .attr("x2", this.predictLine.attr("x2"))
        .attr("y2", this.predictLine.attr("y2"))
        .attr("stroke", this.predictLine.attr("stroke"));
    },
    getUpDown(tendency) {
      if (tendency.toLowerCase().match(/bullish/gi)) {
        return "Up";
      } else {
        return "Down";
      }
    }
  }
};
</script>

<style scoped>
.bull-bear-icon {
  width: 60px;
}
.bull-bear-result-box {
  position: absolute;
  bottom: 9%;
  width: max-content;
  transform: translate(0%, 0%);
}
.xaxis {
  border-top: solid 3px #424242;
}
.xaxis-tick {
  width: 3px;
  height: 9px;
  background: #424242;
}
.ticker-icon-box {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

#chart-center-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid #000;
}
</style>
