}<template>
      <div v-if="isCryptoCurrency" class="mt20 ms16">
        <div id="cryptocurrency-disclaimer-box" class="flex-direct-row">
            <div class="flex-44p flex justify-cc pt10">
              <img id="cryptocurrency-disclaimer-img" src="https://d6sgh7eusknu.cloudfront.net/assets-front/image/quiz/disclaimer.png"/>
            </div>
            <div class="flex1 flex align-i-c ptb10">
              <div id="disclaimer-box-text" class="word-wrap">
                {{ gettext('please_be_advised_when_you_make_your_investment_decisions_that_cryptocurrency_rates_fluctuate_often.') }}
              </div>
            </div>
        </div>
      </div>

      <div class="ps16 ptb20">
        <div v-if="lastPrice != null && report !== undefined" class="flex-direct-col h-50 justify-cc">
          <div id="tickerRealtimePredictionHeader">
            <div>{{ gettext('last_updated') }} | {{ lastPrice.tstr || lastPrice.time }} {{lastPrice.state == 'Closed.' ? 'Closed' : ''}}</div>
          </div>
          <div class="flex-direct-row" style="align-items:baseline;">
            <div id="currentTickerPriceDiv" class="flex1">{{ lastPrice.close.comma() }} <span class="currency" v-if="ticker.category_id != 'index'">{{ lastPrice.currency || tickerCurrency }}</span></div>
            <div id="currentTickerPriceDiffDiv" class="flex1 right" :style="{color:metaColors['color'+(lastPrice.diff > 0 ? 'Up' : 'Down')]}">
              <div>{{lastPrice.diff > 0 ? '+' : ''}}{{ roundSig(lastPrice.diff, 4).comma() }} ({{ lastPrice.per }})</div>
            </div>
          </div>
        </div>
      </div>
      <div id="quiz-ai-prediction-container">
        <div id="quiz-ai-prediction-wrapper" class="quiz-ai-prediction-title-wrapper">
          <div class="quiz-ai-prediction-title">
            {{ gettext('market_dreamers_prediction') }}
          </div>
        </div>
        <div class="pt18 ms16">
          <div v-if="report !== undefined && ticker.show !== false" class="flex-direct-col h-70 pb16  justify-cc">
            <div id="tickerReportUpdateHeader" class="flex-direct-row pb7" v-if="ticker.category_id !== 'index'">
              <div>{{ gettext('last_updated') }} | {{ momentFormat(report.report_date_str, getGLanguage(), getGLocale(), null) }}</div>
            </div>
            <div class="flex-direct-row">
              <img id="quizResultAiBlackIcon" class="flex-0-20p"
                src="https://d6sgh7eusknu.cloudfront.net/assets-server/image/quiz/ai-black-icon.png"
                srcset="https://d6sgh7eusknu.cloudfront.net/assets-server/image/quiz/ai-black-icon@2x.png 2x" />
              <div id="quizResultAiRecommendDiv" class="flex1 pl17">
                <div v-html="aiRecommend"></div>
              </div>
            </div>
          </div>
          <ons-row v-if="report !== undefined && ticker.show !== false" id="quiz-ai-prediction-content">
            <ons-col id="quiz-ai-prediction-icon-container">
              <div id="quiz-ai-prediction-icon"
                  :style="'background: url(./assets/image/quiz/'+this.currentMarketImage(predictedTrend)+'-'+this.metaColors['word'+this.getUpDown(predictedTrend)]+'.png) center no-repeat; background-size: 100%;'"
              ></div>
            </ons-col>
            <ons-col id="quiz-ai-prediction-text-wrapper">
              <div id="quiz-ai-prediction-text" >
                <span v-html="predictionText"></span>
              </div>
            </ons-col>
          </ons-row>
        </div>
      </div>
      <div id="quiz-ai-prediction-detail-chart-container">
        <ml-chart :report="report" :ticker="ticker"></ml-chart>
      </div>
      <br>
      <div id="tiickerChartContainer">
        <div id="currentTickerChartContentTitleWrapper" class="quiz-ai-prediction-title-wrapper">
          <div id="currentTickerChartContentTitle" class="quiz-ai-prediction-title">
            {{ gettext('daily_charts') }}
          </div>
        </div>&nbsp;

        <div id="currencyStatus" v-if="ticker.symbol && lastPrice" style="margin: 0px 0px -10px 20px;">
          <div class="ellipsis" style="font-weight:bold;font-size:15px">{{ isCurrency ? ticker.symbol : ticker.name_loc }}</div>
          <div>{{ lastPrice.close.comma() }} <span v-if="ticker.category_id != 'index'">{{ lastPrice.currency || tickerCurrency }}</span>
            <span :style="{color:metaColors['color'+(lastPrice.diff > 0 ? 'Up' : 'Down')]}" style="margin-left:5px">
              {{lastPrice.diff > 0 ? '+' : ''}}{{ roundSig(lastPrice.diff, 4).comma() }} ({{ lastPrice.per }})
            </span>
          </div>
        </div>
        <div id="dailyTickerChartRow" class="plr20">
          <div id="dailyTickerChartContainer" class="w-100p mt20 relative">
            <div id="dailyChart">
            </div>
            <div v-if="chartLoading" id="chartSpinner" class="w-100p h-100p center" style="position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;line-height:220px;background-color:rgba(255,255,255,0.7)">
              <v-ons-icon icon="fa-spinner" size="30px" spin></v-ons-icon>
            </div>
          </div>
          <div class="center">
            <ul id="chartRange" class="chart-range btn-group-exclusive flow group-border-rounded inblock">
              <li><a href="javascript:;" data-days="1" data-freq="5">1D</a></li>
              <li><a href="javascript:;" data-days="7" data-freq="60">1W</a></li>
              <li><a href="javascript:;" data-days="31" data-freq="D">1M</a></li>
              <li class="active"><a href="javascript:;" data-days="92" data-freq="D">3M</a></li>
              <li><a href="javascript:;" data-days="365" data-freq="D">1Y</a></li>
              <li><a href="javascript:;" data-days="1080" data-freq="D">Max</a></li>
            </ul>
            <v-ons-button id="goToMainButton" @click="goToPreviousPage">
              {{ gettext('explore_other_stocks') }}
            </v-ons-button>
          </div>
        </div>

        <div id="quizRelatedNewContainer" v-if="relatedNews.length > 0">
          <div id="quizRelatedNewWrapper" class="quiz-ai-prediction-title-wrapper">
            <div class="quiz-ai-prediction-title">
              {{ gettext('news') }}
            </div>
          </div>
          <div class="related-news-list-container ps16 pb10">
            <template v-if="relatedNews.length">
              <div class="related-news-list">
                <div v-for="(news, i) in relatedNews.slice(0, newsMaxCount)"
                    class="pt16">
                  <a :href="news.href" @click="onLinkClick(news)" target="_blank" class="related-news-title" v-html="news.title"></a>
                  <div class="related-news-source-time mb10">{{ news.source }} - {{ news.date }}</div>
                  <div v-if="(i+1) < relatedNews.length" class="divider-05p-d8d8d8"></div>
                </div>
              </div>
              <div class="flex-direct-col h-54 read-more" @click="readMoreNews()" v-if="relatedNews.length > 5 && newsMaxCount == 5">
                <div class="inblock va-middle">{{ gettext('view_more') }}</div>
                <div class="read-more-arrow-down"></div>
              </div>
            </template>
            <template v-else>
              <div class="center ptb50">
                {{ gettext('there_is_no_related_news') }}
              </div>
            </template>
          </div>
        </div>

        <div id="quizCompanyInfoContainer" v-if="ticker.explain_loc">
          <div id="quizCompanyInfoWrapper" class="quiz-ai-prediction-title-wrapper">
            <div class="quiz-ai-prediction-title" v-if="ticker.category_id == 'index'">{{ gettext('indicator_description') }}</div>
            <div class="quiz-ai-prediction-title" v-else-if="ticker.category_id == 'stock'">{{ gettext('company_information') }}</div>
            <div class="quiz-ai-prediction-title" v-else-if="ticker.category_id == 'crypto'">{{ gettext('cryptocurrency_description') }}</div>
          </div>
          <div class="ticker-company-info-container ptb20 ps16" v-if="ticker.explain_loc">
            <div class="ticker-company-info">{{ ticker.explain_loc }}</div>
            <div class="flex-direct-col h-54 read-more" @click="readMoreCompanyInfo()">
              <div class="inblock va-middle">{{ gettext('view_more') }}</div>
              <div class="read-more-arrow-down"></div>
            </div>
          </div>
          <div class="center ptb50" v-else>
            {{ gettext('information_is_not_available') }}
          </div>
        </div>
        <ons-row v-if="isCurrency === true" id="currencyCalculatorRow" @click="toggleCalculator">
          <ons-col class="pt5">
            <div>{{ gettext('currency_converter') }}</div>
            <img class="calculator-toggle-button" :class="{toggled:calculatorEnabled}" src="/assets/image/calc-arrow-down.svg" />
          </ons-col>
        </ons-row>
        <currency-calculator v-if="calculatorEnabled === true" :ticker_code="this.ticker.ticker"></currency-calculator>
      </div>
    </div>
</template>

<script>
import Predict from './Predict.vue';
import Img from "bootstrap-vue/es/components/image/img";

export default {
  components: {Img},
  props:[],
  data() {
    return {
      latestAiPredictionTime: null,
      aiRecommend: '',
      predictedDiffPercent: 3,
      predictedTrend: 'Bullish',
      predictionText:'',
      relatedNews: [],
      newsMaxCount: 5,
      tickerCurrency:'',
      metaColors: $store.state.meta.color[this.getGLocale()],
      progressCircleVisible: false,
      coinDescriptModalVisible: false,
      tickerTrendImages: {
        'Bearish': 'bearish',
        'Mildly Bearish': 'm-bearish',
        'Mildly Bullish': 'm-bullish',
        'Bullish': 'bullish'
      },
      tickerTrendTerms: {
        'Bearish': this.gettext('bearish'),
        'Mildly Bearish': this.gettext('hybridization_bearish'),
        'Mildly Bullish': this.gettext('hybridization_bullish'),
        'Bullish': this.gettext('bullish')
      },
      aiRecommendationByTrend:{
        'Bearish': this.gettext('strong_sell'),
        'Mildly Bearish': this.gettext('sell'),
        'Mildly Bullish': this.gettext('buy'),
        'Bullish': this.gettext('strong_buy')
      },
      upDownText:[this.gettext('fall'), this.gettext('rise')],
      exchangeCode: "",
      currencyReport: [],
      isCurrency: false,
      isCryptoCurrency: false,
      calculatorEnabled: false,
      sortedPredicts: [],
      report: undefined,
      timeoutID: 0,
      chart:null,
      chartLoading:true,
      lastPrice:null,
    }
  },
  created(){

    API.getFinLast(this.ticker.ticker).then(e=>{
      if (e.row.data) {
        var p = this.lastPrice = e.row.data;
        if (p.ts) {
          if (p.time.length == 5) { // DD/MM 형식
            p.tstr = moment(p.ts).format('MM-DD');
          } else if (p.time.length == 8) { // HH:mm:ss (utc-4) 형식
            p.tstr = moment(p.ts).format('MM-DD HH:mm');
          } else {
            p.tstr = moment(p.ts).format('MM-DD');
          }
        } else if (p.d) {
          p.tstr = moment(p.d, 'YYYYMMDD').format('MM-DD');
        } else {
          p.tstr = moment().format('MM-DD');
        }
      }
    });
    if (this.ticker.category_id == 'crypto') {
      this.tickerCurrency = 'USD';
    } else if (this.ticker.category_id == 'stock') {
      this.tickerCurrency = {
        '0':'', // 전체
        '1':'USD', // 뉴욕
        '2':'USD', // 나스닥
        '60':'KRW', // KOSPI
        '110':'KRW', // KOSDAQ
        '130':'KRW', // KONEX
        '19':'SGD', // 싱가폴 SGX
        '54':'CNY', // 중국 shanghai
        '103':'CNY', // 중국 shenzhen
        '21':'HKD', // 홍콩 hongkong
      }[this.ticker.exchange_ID];
    }
  },
  mounted(){
    if ($('.ticker-company-info').height() < 95) { // 설명 높이가 기준보다 작다면 read-more를 가동시킨다
      this.readMoreCompanyInfo();
    }
    this.getRelatedNews(this.ticker.ticker);
    this.getMlResult();
    location.hash = '';

    this.$nextTick(()=>{
      // 모든 화면이 렌더링된 후 실행합니다.
      // 아래는 USD/KRW일 때 작동을 안하여 nextTick을 사용하니 해결되었다. 위의 console.log 에서는 element는 있는걸로 나온다.

      // 차트 기간별 버튼 대응
      $('.btn-group-exclusive li').on('click', function(e){
        var $this = $(this);
        $this.closest('.btn-group-exclusive').find('.active').removeClass('active');
        $this.addClass('active');
      });
      $('#chartRange').on('click', 'a', e=>{
        e.preventDefault();
        this.dailyChart();
      });
    });
    window._this = this;
  },
  methods:{
    onLinkClick(news) {
      var name_en = "unknown_ticker_name";
      try { name_en = this.ticker.trans_en.name_trans.replace(/ /g, "_"); }
      catch(e) {
        try { name_en = this.ticker.name["en"].replace(/ /g, "_"); }
        catch(e) {} // TODO Add sentry logger
      }
      var labelPrefix = "unknown_type";
      try { labelPrefix = this.ticker.category_id;}
      catch(e) {} // TODO Add sentry logger

      window.Util.gaEvent('news', 'link', labelPrefix + ':link:' + name_en + ':' + news.href);
    },
    roundSig(n, s){ // 유효숫자 반올림
      return round(n, s-parseInt(log10(Math.abs(n)))-1);
    },
    readMoreNews(){
      this.newsMaxCount = this.relatedNews.length;
    },
    readMoreCompanyInfo(){
      $('.ticker-company-info-container').addClass('open');
    },
    getRelatedNews(ticker){
      API.getRelatedNews(ticker)
        .then((res)=>{
          if (res.row.success) {
            if (this.getGLanguage() == 'ko' && res.row.data.naver_news.length) {
              /*
                {
                    "title" : "삼성전자, 미국서 시네마 LED 브랜드 &lsquo;오닉스&rsquo; 공개",
                    "href" : "/item/news_read.nhn?article_id=0003928821&office_id=015&code=005930&page=1&sm=title_entity_id.basic",
                    "info" : "한국경제",
                    "date" : " 2018.04.25 07:36"
                },
              */
              this.relatedNews = res.row.data.naver_news.map(e=>{
                e.source = e.info;
                e.href = "http://finance.naver.com" + e.href;
                return e;
              });
            }
            else if(this.getGLanguage() == 'zh-hans' && res.row.data.qq_news.length){
              /*
                {
                    “url”: “http://stock.qq.com/a/20180622/029286.htm“,
                    “source”: “QQ.com:“,
                    “date”: “2018-06-22 14:20:22",
                    “title”: “6月22日沪深两市及停复牌交易提示一览”
                },
              */
              this.relatedNews = res.row.data.qq_news.map(e=>{
                e.source = e.source;
                e.href = e.url;
                return e;
              });
            }
            else {
              /*
                {
                    "href" : "https://invst.ly/79k0j",
                    "img" : "https://i-invdn-com.akamaized.net/news/LYNXNPEC0Q1B5_S.jpg",
                    "title" : "Apple Reportedly Seeking OLED Price Cuts From Samsung",
                    "by" : "By Fool",
                    "date" : "1 hour ago",
                    "detail" : "If the Mac maker scores cost concessions, will it keep them or pass them on to customers?"
                },
              */
              this.relatedNews = res.row.data.investing_news['news_'+this.getGLanguage()] || res.row.data.investing_news.news_en;
              if (!this.relatedNews) {
                this.relatedNews = [];
              } else {
                this.relatedNews.map(e=>{
                  e.source = e.by;
                  e.href = !~e.href.indexOf('https://') ? 'https://www.investing.com' + e.href : e.href;
                  return e;
                });
              }
            }
          }
        });
    },
    dailyChart(){
      var $this = $('.chart-range li.active a'),
          days = $this.data('days'),
          freq = $this.data('freq');

      var name_en = "error_ticker_name";
      try { name_en = this.ticker.trans_en.name_trans.replace(/ /g, "_"); }
      catch(e) {
        try {name_en = this.ticker.name["en"].replace(/ /g, "_");}
        catch(e) {} // TODO Add sentry logger
      }
      window.Util.gaEvent('chart','set_period', 'chart:set_period:'+ name_en +':'+ days);
      this.chartLoading = true;
      window.API.getChartSeries(this.ticker.ticker, days, freq).then(res => {
        if (res.code === 20000 && res.row.success) {
          var data = res.row.data, info = res.row.info;
          this.drawChart(res.row.data, freq, res.row.chart, res.row.fin_type);
        } else {
          alert(res.row && res.row.message || this.gettext('bringing_the_chart_data_has_failed'));
        }
        this.chartLoading = false;
      }, () => {
        alert(this.gettext('bringing_the_chart_data_has_failed'));
      });
    },
    getUpDown(tendency) {
      if (tendency.toLowerCase().match(/bullish/g)) {
        return 'Up';
      } else {
        return 'Down';
      }
    },
    getMlResult(){
      this.isCurrency = this.ticker.is_currency == 'Y';
      this.isCryptoCurrency = this.ticker.category_id == 'crypto';
      var today = new Date();
      var date = today.getFullYear()+'-' + ('0' + (today.getMonth()+1)).slice(-2) + '-'+('0' + today.getDate()).slice(-2);

      this.showProgressCircle();
      this.dailyChart();

      function showReport(data) {
        /*
          {
            "md_id": "kosho_index",
            "next_group": 2,
            "cur_group": 1,
            "save_timestamp": 1524734511,
            "cur_yield": -0.0124661166,
            "base_timestamp": 1524495600,
            "pre_mean": 0.0113673317,
            "term_vol": 0.0217129778,
            "pred_std": 0.0042793843,
            "trans_group_2": 0.98,
            "trans_group_3": 0.01,
            "trans_group_0": 0,
            "trans_group_1": 0.01,
            "ticker": "GOLD",
            "report_date_str": "2018-04-24",
            "pred_freq": "7D"
          }

          MLChart uses : report_date, cur_group, trans_group_0~3
        */
        var rp = this.report = data;
        this.predictedTrend = {
          0: 'Bearish',
          1: 'Mildly Bearish',
          2: 'Mildly Bullish',
          3: 'Bullish'
        }[rp.next_group];
        this.predictedDiffPercent = Math.abs(round(rp.pre_mean*100, 2));
        rp.predict_ticker = '0,1,2,3'.split(',').map(e => round(rp['trans_group_' + e] * 90 + 2.5, 2));
        //rp.predict_ticker_max = rp.predict_ticker.indexOf(Math.max.apply(null, rp.predict_ticker))
        rp.predict_ticker_max = rp.next_group;

        var color = this.currentMarketColor(this.predictedTrend),
            trendText = this.aiRecommendationByTrend[this.predictedTrend],
            upDown = this.upDownText[rp.pre_mean > 0 ? 1 : 0],
            upDownColor = this.metaColors['color'+(rp.pre_mean > 0 ? 'Up' : 'Down')];
        // 긴 스트링을 별도로 생성
        this.aiRecommend = this.tmpl(this.gettext("deep_learning_forecasts_after_a_week_<span_style_=_color:_$_{updowncolor}>_$_{predicteddiffpercent}%_</_span>_$_{updown}"),
            {
              '${upDownColor}': upDownColor,
              '${upDown}': upDown,
              '${predictedDiffPercent}': this.predictedDiffPercent,
            });
        if (this.ticker.category_id !== 'crypto' && [0,3].indexOf(rp.next_group) > -1) {
          // 암호화폐가 아니고 next_group 이 0, 3 인 경우에만 지시 추가
          this.aiRecommend += this.tmpl(this.gettext("<br>_<span_style_=_color:_$_{updowncolor}>_i_recommend_$_{trendtext}_</_span>."), {
            '${upDownColor}': upDownColor,
            '${trendText}': trendText,
          });
        }
        this.predictionText = this.tmpl(this.gettext(`a_week_later_$_{toolbarInfo.title.toUpperCase_()}_is_forecasted_to_$_{report.predict_ticker [report.predict_ticker_max]}%_$_{currentMarketTerm (report.current_ticker_str)}`),
              {"${toolbarInfo.title.toUpperCase()}": this.toolbarInfo.ticker + ' ',
               "${report.predict_ticker[report.predict_ticker_max]}": '<span style="color:'+color+';text-decoration:underline">' + this.report.predict_ticker[this.report.predict_ticker_max],
               "${currentMarketTerm(report.current_ticker_str)}": this.currentMarketTerm(this.predictedTrend) + '</span>'
              });

      }

      var md_id = 'kosho_' + this.ticker.category_id, ticker = this.ticker.ticker;

      window.API.getTickerPrediction(md_id, ticker).then((res) => {
        if (res.code === 20000) {
          if (res.row.success) {
            showReport.call(this, res.row.report);
          } else {
            alert(res.row.message);
          }
        } else {
          alert(this.gettext('unable_to_get_results.')+'\n'+this.gettext('please_try_again.'));
        }
        this.hideProgressCircle();
      }, () => {
        alert(this.gettext('unable_to_get_results.')+'\n'+this.gettext('please_try_again.'));
        this.hideProgressCircle();
      });
    },
    currentMarketImage(tickerTrend){
        return this.tickerTrendImages[tickerTrend];
    },
    currentMarketColor(tickerTrend){
        var colorKey = ({
            'Bearish': 'colorDown',
            'Mildly Bearish': 'colorDownMild',
            'Mildly Bullish': 'colorUpMild',
            'Bullish': 'colorUp'
        })[tickerTrend];
        return this.metaColors[colorKey];
    },
    currentMarketTerm(tickerTrend){
        return this.tickerTrendTerms[tickerTrend];
    },
    showCoinDescriptionModal(){
        this.coinDescriptModalVisible = true;
    },
    hideCoinDescriptionModal(){
        this.coinDescriptModalVisible = false;
    },
    showProgressCircle(){
        this.progressCircleVisible = true;
        clearTimeout(this.timeoutID);
        this.timeoutID = setTimeout(() => this.progressCircleVisible = false, 5000);
    },
    hideProgressCircle(){
        this.progressCircleVisible = false;
    },
    drawChart(series, freq, chart_type, fin_type){
      var dataGrouping = ({5:[['minute',[5, 10]]], 60:[['minute',[60, 120]]], 'D':[['day',[1]],['week',[1]],['month',[1]]]})[freq];
      // US 하이일드 등의 시고저종이 같은 티커 체크 http://qarakt.iptime.org:7019/prices/H0A0%20index?sd=20180501
      if (chart_type == 'candle' && series.filter(e=>(e.close != e.open || e.close != e.high || e.close != e.low)).length == 0) {
        chart_type = 'area';
      }
      if (chart_type == 'candle') {
        var data = series.map(e => [fin_type == 'detail' ? e.time*1000 : moment(e.d).unix() * 1000, e.open, e.high, e.low, e.close]);
        this.chart =  this.doneHighcharts(e => {
          Highcharts.stockChart('dailyChart', {
          title: { text: null }, //$('#title').val() },
          credits: { enabled: false },
          legend: { enabled: false },
          navigator: {enabled:false},
          scrollbar: {enabled:false},
          rangeSelector:{enabled:false},
          noData: { style: { fontWeight: 'bold', fontSize: '15px', color: '#303030' } },
          chart: {
            spacing:[10,10,10,10],
            height:220,
            panning: false,
            pinchType: false
          },
          xAxis: {
            type: 'datetime',
            //ordinal: false,
            tickmarkPlacement:'on',
            dateTimeLabelFormats: {
              month:'`%y.%m',
              week:'%m.%d',
              day:'%m.%d',
            },
          },
          plotOptions: {
            candlestick: {
              color: this.metaColors.colorDown,
              upColor: this.metaColors.colorUp,
              lineColor: (window.Highcharts || this.getHighChart()).Color(this.metaColors.colorDown).setOpacity(0.5).get('rgba'),
              upLineColor: (window.Highcharts || this.getHighChart()).Color(this.metaColors.colorUp).setOpacity(0.5).get('rgba'),
            },
          },
          series: [{
            type: 'candlestick',
            name: this.ticker.name,
            data: data,
            dataGrouping: {
              units: dataGrouping
            },
          }]
        })});
      } else if (chart_type == 'area') {
        var colorBull = this.metaColors.colorUp,
            colorBear = this.metaColors.colorDown;
        var color = series.length && series[0].close <= series[series.length-1].close ? colorBull : colorBear;
        var data = series.map(e => [fin_type == 'detail' ? e.time*1000 : moment(e.d).unix() * 1000, e.close]);
        this.doneHighcharts(e => {
          this.chart = Highcharts.chart('dailyChart', {
          title: { text: null }, //$('#title').val() },
          credits: { enabled: false },
          legend: { enabled: false },
          noData: { style: { fontWeight: 'bold', fontSize: '15px', color: '#303030' } },
          chart: {
            spacing:[10,10,10,10],
      //      zoomType:'None',
            height:220,
            panning: false,
            pinchType: false
          },
          xAxis: {
            type: 'datetime',
            //ordinal: false,
            tickmarkPlacement:'on',
            dateTimeLabelFormats: {
              month:'`%y.%m',
              week:'%m.%d',
              day:'%m.%d',
            },
          },
          yAxis: {
            title: { text: '' },
            opposite: true,
          },
          tooltip: {
            shared: true,
            headerFormat: '<b>'+'{point.x:%Y}.{point.x:%m}.{point.x:%d}'+'</b><br>',
          },
          plotOptions: {
            area: {
              fillColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                  [0, (window.Highcharts || this.getHighChart()).Color(color).setOpacity(0.5).get('rgba')],
                  [1, (window.Highcharts || this.getHighChart()).Color(color).setOpacity(0).get('rgba')]
                ]
              },
              marker: { radius: 0 },
              lineWidth: 1,
              states: {
                hover: {
                  lineWidth: 1
                }
              },
              threshold: null
            },
            series: {
              animation: false
            }
          },
          series: [{
            type: 'area',
            color: color,
            name: this.ticker.name,
            data: data
          }]
        });
          if (data.length == 0) this.chart.showNoData && this.chart.showNoData("No Data");
        });
      }
    },
    goToPreviousPage() {
        this.$store.commit('navigator/pop');
    },
    goToInvestment(){
        this.hideCoinDescriptionModal();
        window.appTabbar.index = 1;
        window.$store.commit('navigator/goToMainStack');
    },
    toggleCalculator(){
        this.calculatorEnabled = !this.calculatorEnabled;
        if(this.calculatorEnabled === true){
            //location.hash = '#currencyCalculator'; // timing issue, moved into Calculator.vue
        }else{
            //location.hash = '#quiz-result-wrapper'; // 굳이 top 으로 갈 필요가 없다
            location.hash = '';
        }
    }

  }
}
</script>
<style>

.code {
  font-size: 10px;
  color: #CCC;
}

.pb7{padding-bottom: 7px;}

.flex-0-20p{
  display: flex;
  flex: 0 0 20px;
}
.pl17 {padding-left: 17px}
</style>

<style scoped>
  #quiz-prediction-ticker-market{
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: normal;
    color: #555555;
  }
  #quiz-prediction-ticker-code{
    font-size: 10px;
    letter-spacing: normal;
    color: #cccccc;
  }
  #quiz-prediction-ticker-name{
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #555555;
  }
  .quiz-ai-prediction-title-wrapper{
    height: 36px;
    background-color: #f3f3f3;
  }
  .quiz-ai-prediction-title{
    padding-left: 16px;
    background-color: #f3f3f3;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: normal;
    color: #555;
  }
  #quiz-ai-prediction-container{
    margin: auto;
    background-color: #fff;
  }
  #quiz-ai-prediction-icon-container {
    flex:1;
  }
  #quiz-ai-prediction-icon{
    margin: auto;
    height: 60px;
    width: 120px;
    object-fit: contain;
    background-size: 100%;
  }
  #quiz-ai-prediction-text-wrapper{
    position: relative;
    padding-right:20px;
  }
  #quiz-ai-prediction-text{
    font-size: 13px;
  }

  #quiz-ai-prediction-detail-chart-container{
    margin: auto;
    background-color: #fff;
  }

  #current-ticker-icon, #predict-ticker-icon{
    width: 55px;
    height: 30px;
  }
  #analysis-current-date-title{
    margin-left: -43px;
  }

  #analysis-current-date {
    font-size: 12px;
    font-weight: 300;
    margin-left: -43px;
  }

  .forecast-text-wrapper{
    font-size: 12px;
    font-weight: 300;
    margin-left: -10px;
  }

  #tiickerChartContainer{
    position: relative;
    margin: auto;
    background-color: #fff;
  }
  #dailyChart{
    width:100%;
    height:220px;
    position: relative;
  }
  #goToMainButton{
    margin: auto;
    margin-bottom:20px;
    width: 100%;
    height: 40px;
    background-color: #8a7ffd;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top:2px;
  }
  #goToMainButton.button--material{
    box-shadow: none;
  }
  .calculator-toggle-button{
    transition: all;
    transition-duration: .3s;
    margin-top:-10px;
  }
  .calculator-toggle-button.toggled{
    transform: rotate(-180deg);
  }
  #currencyCalculatorRow{
    background-color: #5649d4;
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.2px;
    text-align: center;
    color: #fff;
    overflow-y:hidden;
  }
  #cryptocurrency-disclaimer-box{
    border-radius: 5px;
    border: solid 2px #d0021b;
  }
  #cryptocurrency-disclaimer-img{
    width: 24px;
    height: 24px;
  }
  #disclaimer-box-text{
    font-size: 13px;
    padding-right:10px;
    color: #555555;
  }
  #tickerRealtimePredictionHeader{
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: normal;
    color: #555555;
  }
  #currentTickerPriceDiv{
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: -0.8px;
    color: #555555;
    white-space:nowrap;
  }
  #currentTickerPriceDiv .currency {
    font-size:18px;
  }
  #currentTickerPriceDiffDiv{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: normal;
    white-space:nowrap;
  }
  #quizResultAiBlackIcon{
    width: 20px;
    height: 20px;
    margin-top: 1px;
  }
  #tickerReportUpdateHeader{
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: normal;
    color: #555555;
  }
  #quizResultAiRecommendDiv{
    font-weight: 500;
    letter-spacing: normal;
    color: #555555;
  }
  .ticker-company-info {
    max-height:115px;
  }
  .related-news-list,
  .ticker-company-info{
    word-break:break-word;
    overflow:hidden;
    position:relative;
  }
  .related-news-title{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    color: #2183cf;
  }
  .related-news-source-time{
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: normal;
    color: #555;
  }
  .read-more{
    justify-content: center;
    align-items: center;
  }
  .read-more-arrow-down{
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .related-news-list-container.open .related-news-list,
  .ticker-company-info-container.open .ticker-company-info{
    max-height:none;
  }
  .related-news-list-container.open .read-more,
  .ticker-company-info-container.open .read-more{
    display:none;
  }

.chart-range {
  margin: 10px auto 30px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: solid 1px #8a7ffd;
  border-width: 0 0 0 1px;
  display:flex;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: bold;
  max-width:420px;
}
.chart-range li {
  border: solid 1px #8a7ffd;
  border-width: 1px 1px 1px 0;
  flex:1 1;
}
.chart-range li.active {
  background-color: #8a7ffd;
  color: white;
}
.chart-range li a {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 30px;
  padding: 7px;
  color: #8a7ffd;
  text-decoration:none;
}
.chart-range li.active a {
  color: white;
}


.ticker-info {
  display:flex;
  align-items:center;
  padding:10px 16px;
  height:64px;
}
.ticker-info .flag {
  flex:0 0 35px;
}
.ticker-info .flag img {
  width:30px;
  height:30px;
}
.ticker-info .exchange {
  flex:0 1 55px;
  font-size:10px;
  padding-right:5px;
}
.ticker-info .exchange .code {
  color:#cccccc;
}
.ticker-info .name {
  font-size:18px;
  font-weight:bold;
  max-width:calc(100vw - 32px);
}
.ticker-info .name .sub-name {
  font-size:10px;
  font-weight:normal;
}
.ticker-info .name.stock-name {
  max-width:calc(100vw - 120px);
}
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

</style>
